In [1]:
import pandas as pd

# tutorial 1

#series/1d array in pandas

integers = [1,2,3,4,5,6]
pd.Series(integers)

pd.Series([True, False, True, False])

pd.Series(['hello', 'world', 'to', 'python'])

pd.Series([2,4.09,True,'hello', 'world', 'to', 'python'])

0         2
1      4.09
2      True
3     hello
4     world
5        to
6    python
dtype: object

In [2]:
 # tutorial 2

data_dict = {'f':60, 'a': 10, 'b':20,'c': 30, 'd':40,'e': 50}
d = pd.Series(data_dict, index=['a', 'b','c', 'd', 'e', 'f'])
print(d)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [3]:
d.min(), d.max(), d.std(), d.var(), d.mean(), d.median(), d.count()

(10, 60, 18.708286933869708, 350.0, 35.0, 35.0, 6)

In [4]:
# tutorial 3

# read a csv file using pandas

pokemon = pd.read_csv('data/Pokemon.csv')
pokemon, type(pokemon)

(        ID          Name Form     Type1     Type2  Total   HP  Attack  \
 0        1     Bulbasaur          Grass    Poison    318   45      49
 1        2       Ivysaur          Grass    Poison    405   60      62
 2        3      Venusaur          Grass    Poison    525   80      82
 3        4    Charmander           Fire              309   39      52
 4        5    Charmeleon           Fire              405   58      64
 ...    ...           ...  ...       ...       ...    ...  ...     ...
 1189  1006  Iron Valiant          Fairy  Fighting    590   74     130
 1190  1007      Koraidon       Fighting    Dragon    670  100     135
 1191  1008      Miraidon       Electric    Dragon    670  100      85
 1192  1009  Walking Wake          Water    Dragon    590   99      83
 1193  1010   Iron Leaves          Grass   Psychic    590   90     130

       Defense  Sp. Atk  Sp. Def  Speed  Generation
 0          49       65       65     45           1
 1          63       80       80     60           1
 2          83      100      100     80           1
 3          43       60       50     65           1
 4          58       80       65     80           1
 ...       ...      ...      ...    ...         ...
 1189       90      120       60    116           9
 1190      115       85      100    135           9
 1191      100      135      115    135           9
 1192       91      125       83    109           9
 1193       88       70      108    104           9

 [1194 rows x 13 columns],
 pandas.core.frame.DataFrame)

In [5]:
# convert this file to data series
poke_data_series = pd.read_csv('data/Pokemon.csv', usecols=['Name']).squeeze()
poke_ids = pd.read_csv('data/Pokemon.csv', usecols=['ID']).squeeze()
poke_data_series, type(poke_data_series)

(0          Bulbasaur
 1            Ivysaur
 2           Venusaur
 3         Charmander
 4         Charmeleon
             ...
 1189    Iron Valiant
 1190        Koraidon
 1191        Miraidon
 1192    Walking Wake
 1193     Iron Leaves
 Name: Name, Length: 1194, dtype: object,
 pandas.core.series.Series)

In [6]:
poke_data_series.index = poke_ids
poke_data_series

ID
1          Bulbasaur
2            Ivysaur
3           Venusaur
4         Charmander
5         Charmeleon
            ...
1006    Iron Valiant
1007        Koraidon
1008        Miraidon
1009    Walking Wake
1010     Iron Leaves
Name: Name, Length: 1194, dtype: object

In [7]:
# tutorial 4

type(poke_data_series), len(poke_data_series), poke_data_series.dtype

(pandas.core.series.Series, 1194, dtype('O'))

In [8]:
#tutorial 5

poke_data_series.apply(type) 
poke_data_series.apply(lambda x: x.split())
poke_data_series.apply(str.lower)
poke_data_series.apply(lambda s : [x[0] for x in s.split()])

ID
1          [B]
2          [I]
3          [V]
4          [C]
5          [C]
         ...
1006    [I, V]
1007       [K]
1008       [M]
1009    [W, W]
1010    [I, L]
Name: Name, Length: 1194, dtype: object

In [14]:
# tutorial 6

# create dataframe from scratch

# dictionary

mydict = {'x':1, 'y':2,'z':3}
pd.DataFrame([mydict]).T

   0
x  1
y  2
z  3

In [15]:

# list of dictionaries

list_of_dicts = []

for i in range(10):
    list_of_dicts.append({
        'x' : i,
        'y' : i + 1,
        '2xy' : i*(i+1)*2
    })
list_of_dicts

[{'x': 0, 'y': 1, '2xy': 0},
 {'x': 1, 'y': 2, '2xy': 4},
 {'x': 2, 'y': 3, '2xy': 12},
 {'x': 3, 'y': 4, '2xy': 24},
 {'x': 4, 'y': 5, '2xy': 40},
 {'x': 5, 'y': 6, '2xy': 60},
 {'x': 6, 'y': 7, '2xy': 84},
 {'x': 7, 'y': 8, '2xy': 112},
 {'x': 8, 'y': 9, '2xy': 144},
 {'x': 9, 'y': 10, '2xy': 180}]

In [16]:
pd.DataFrame(list_of_dicts)

   x   y  2xy
0  0   1    0
1  1   2    4
2  2   3   12
3  3   4   24
4  4   5   40
5  5   6   60
6  6   7   84
7  7   8  112
8  8   9  144
9  9  10  180